<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Gym!</title>
  <link 
  rel="stylesheet" 
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
  integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
  crossorigin="anonymous">
</head>
<body>
  <form action="/MadlibTheGym">
  <div class="form-group row">
    <label for="FamilyName" class="col-4 col-form-label">A family name</label> 
    <div class="col-8">
      <input id="FamilyName" name="familyName" type="text" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label for="BoyName" class="col-4 col-form-label">A boy's name</label> 
    <div class="col-8">
      <input id="BoyName" name="boyName" type="text" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label for="GirlName" class="col-4 col-form-label">A girl's name</label> 
    <div class="col-8">
      <input id="GirlName" name="girlName" type="text" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label for="Boy2Name" class="col-4 col-form-label">Another boy's name</label> 
    <div class="col-8">
      <input id="Boy2Name" name="boy2Name" type="text" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label for="Girl2Name" class="col-4 col-form-label">Another girl's name</label> 
    <div class="col-8">
      <input id="Girl2Name" name="girl2Name" type="text" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label for="Number" class="col-4 col-form-label">A number</label> 
    <div class="col-8">
      <input id="Number" name="number" type="text" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label for="Equipment" class="col-4 col-form-label">Exercise equipment</label> 
    <div class="col-8">
      <input id="Equipment" name="equipment" type="text" class="form-control">
    </div>
  </div> 
  <div class="form-group row">
    <div class="offset-4 col-8">
      <button name="submit" type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>
</body>
</html>